<div class="container">
  <div class="row">
    <div class="vcenter">
      <h1>Most Exclusive Website</h1>
      <h3>One visitor at a time, every sixty seconds. Get your ticket.</h3>
      <p>If you disconnect or close this webpage you will lose your spot in line.</p>
    </div>
  </div>
</div>